@{
    ViewData["Title"] = "Login";
}

<div class="login-page-wrapper">
    <div class="login-wrapper">
        <h1 class="login-header">@ViewData["Title"]</h1>

        <div class="login-body">
            <div class="fillup-form">
                <!--email-->
                <div class="form">
                    <label for="email">Email</label>
                    <input type="email" placeholder="example@gmail.com" id="email" name="email" required />
                </div>
                <!--password-->
                <div class="form">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter your password" id="password" name="password" required />
                    <p class="forgot"><i>Forgot Password?</i></p>
                </div>
            </div>

            <div class="form-btn">
                <button class='btn-1' type="submit">Sign-in</button>
                <p class="create">Create account</p>
            </div>
        </div>
    </div>
</div>

