@{
    ViewData["Title"] = "Photostrip View";
}

@model Snap.Models.Photo

<div class="photostrip-view-page">
    <div class="photostripview-wrapper">
        <div class="photostrip-view-container">
            <div class="photostrip-view-content">

                <div class="back-button" onclick="location.href='@Url.Action("ProfilePage", "Profile")'"></div>

                <div class="photostrip-main">
                    <h1 class="snapstalgia-title">Snapstalgia</h1>
                    <div class="photostrip-image-wrapper">
                        <img src="@Model.FilePath" alt="Photostrip" class="photostrip-image" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

