@{
    ViewData["Title"] = "Create Account";
}

<!--Create Account-->
<div class="signup-page-wrapper">
    <div class="signup-wrapper">
        <h1 class="signup-header">@ViewData["Title"]</h1>

        <div class="signup-body">
            <div class="fillup-form">
                <!--username-->
                <div class="form">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter username" id="username" name="username" required />
                </div>
                <!--email-->
                <div class="form">
                    <label for="email">Email</label>
                    <input type="email" placeholder="example@gmail.com" id="email" name="email" required />
                </div>
                <!--password-->
                <div class="form">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter your password" id="password" name="password" required />
                </div>
                <!--confirm-password-->
                <div class="form">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" placeholder="Re-enter password" id="confirm-password" name="confirm-password" required />
                </div>
            </div>

            <!--Create Button-->
            <div class="form-btn">
                <button class='btn-1' type="submit">Create</button>
            </div>
        </div>
    </div>
</div>

