@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="forgot-page-wrapper">
    <div class="forgot-wrapper">
        <h1 class="login-header">@ViewData["Title"]</h1>

        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating-mb-3">
                        <label asp-for="Input.Email" class="form-label">Enter your email</label>
                        <input asp-for="Input.Email" placeholder="example@gmail.com" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-btn">
                        <button type="submit" class="btn-1">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
