@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="login-page-wrapper">
    <div class="login-wrapper">
        <h1 class="login-header">@ViewData["Title"]</h1>

        <div class="login-body">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="fillup-form">
                    <div class="form">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" placeholder="example@gmail.com" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" type="password" placeholder="Enter your password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <p class="forgot"><a asp-page="/Account/ForgotPassword">Forgot Password?</a></p>
                    </div>
                </div>

                <div class="form-btn">
                    <button class='btn-1' type="submit">Sign in</button>
                    <p class="create"><a asp-page="/Account/Register">Create account</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
