@page
@model RegisterModel

@{
    ViewData["Title"] = "Create Account";
}

<div class="signup-page-wrapper">
    <div class="signup-wrapper">
        <h1 class="signup-header">@ViewData["Title"]</h1>

        <div class="signup-body">
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" id="registerForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="fillup-form">
                    <!-- Username -->
                    <div class="form">
                        <label asp-for="Input.Username">Username</label>
                        <input asp-for="Input.Username" id="username" placeholder="Enter username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>

                    <!-- Email -->
                    <div class="form">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" id="email" type="email" placeholder="example@gmail.com" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password -->
                    <div class="form">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" id="password" type="password" placeholder="Enter your password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" id="confirm-password" type="password" placeholder="Re-enter password" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-btn">
                    <button class='btn-1' type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
